/* Light theme */
#switchButton .fa-sun {
  display: none;
}

/* Dark Theme*/
.dark #switchButton .fa-sun {
  display: block;
  color: #fff;
}

.dark #switchButton .fa-moon {
  display: none;
}

/* header */
.dark #header {
  background-color: #000;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.dark #header.nav-fixed {
  background-color: #000;
}

.dark #header .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.dark #header .navbar-nav .active .nav-link {
  color: #dc4f72;
}

.dark #header .navbar-nav .header__btn .theme-button {
  background-color: #dc4f72;
  color: #fff;
}

.dark #header .navbar-nav .header__btn .btn-outline-danger:hover {
  background-color: #fff;
  color: #dc4f72;
}

/* carousel */
.dark .carousel__content {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)), url(../img/banner.jpg);
}

.dark .carousel__content .row .content__left h3 {
  color: #fff;
}

.dark #dcarousel .row .content__left p {
  color: rgba(255, 255, 255, 0.6);
}

.dark .carousel .theme-button {
  background-color: #dc4f72;
  color: #fff;
}

.dark #dcarousel .theme-button:hover {
  background-color: #fff;
  color: #dc4f72;
}

/* Choose */
.dark #dchoose {
  background-color: #000;
}

.dark #dchoose .title h3 {
  color: #fff;
}

.dark #dchoose .title p {
  color: rgba(255, 255, 255, 0.6);
}

.dark #dchoose .row .card {
  background-color: #222;
}

.dark #dchoose .card h3 {
  color: #fff;
}

.dark #dchoose .card p {
  color: rgba(255, 255, 255, 0.6);
}

/* about */
.dark .about {
  background-color: #000;
}

.dark #dabout .row .left h3 {
  color: #fff;
}

.dark #dabout .row .left p {
  color: rgba(255, 255, 255, 0.6);
}

.dark #dabout .btn-outline-danger:hover:hover {
  background-color: #fff;
  color: #dc4f72;
}


/* STATISTIC  */
.dark .statistic {
  background-color: #000;
}

.dark .statistic .row .card {
  background-color: #222;
}

.dark .statistic .row .card h4 {
  color: #fff;
}

.dark .statistic .row .card p {
  color: rgba(255, 255, 255, 0.6);
}

.dark .statistic .row .card:hover {
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
}

.dark .statistic .btn-danger:hover {
  background-color: #fff;
  color: #dc4f72;
}

/* FREESPACE */
.dark .freespace {
  background-color: #000;
}

/* commit */
.dark .commit__bg {
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.85)),
    url(../img/bg.jpg);
}

.dark .commit .btn-light {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.dark .commit .btn-light:hover {
  background-color: #fff;
  color: var(--primary);
}

/* Solutions */
.dark .solutions {
  background-color: #000;
}

.dark .solutions .title h3 {
  color: #fff;
}

.dark #mysolutions .container .title p {
  color: rgba(255, 255, 255, 0.6);
}

.dark .solutions__grid .card__content {
  background-color: #222;
  border-color: #eee;
}

.dark .solutions .card__content h4 a {
  color: #fff;
}

.dark #mysolutions .row .card .card__content .card__text {
  color: rgba(255, 255, 255, 0.6);
}

/* questions */
.dark .wrapper-questions {
  background-color: #000;
}

.dark .questions {
  background-color: #000;
}

.dark .questions .row img {
  box-shadow: 3px 3px 5px rgba(225, 219, 219, 0.5);
}

.dark .questions .title h2 {
  color: #fff;
}

.dark .questions .title p {
  color: rgb(238, 238, 238);
}

.dark .card-header:first-child {
  background-color: #222;
}

.dark .btn-link {
  color: white;
  height: 70px;
  font-size: 20px;
}

.dark .btn-link:hover {
  color: #fff;
  text-decoration: none;
}

.dark .questions .card {
  background-color: black;
  color: #fff;
}



/* Projects */
.dark .wrapper-projects {
  background-color: #000;
}

.dark .projects {
  background-color: #000;
}

.dark .title {
  margin-bottom: 30px;
}

.dark .projects h3 {
  color: #fff;
}

.dark .projects p {
  color: rgb(238, 238, 238);
}

.dark .projects .nav-tabs {
  background-color: #000;
}

.dark .projects .nav-item.nav-link.active {
  border-bottom: 2px solid red;
  color: #dc4f72;
  background-color: #000;
}

.dark .projects .nav-item.nav-link {
  color: #fff;
}

.dark .btn-outline-danger {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.dark .btn-outline-danger:hover {
  background-color: #fff;
  color: #dc4f72;
}

/* testimonial */

.dark .w3l-testimonials .testimonials {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)), url(../img/b2.jpg);
}

.dark .w3l-testimonials .slider-info {
  background-color: #222;
}

.dark .w3l-testimonials .message p {
  color: rgb(238, 238, 238);
}

/* community */
.dark .wrapper-community {
  background-color: #000;
}

.dark .community {
  background-color: #000;
}

.btn-primary:hover {
  background-color: #fff;
  color: #dc4f72;
}

.dark .header-section h3 {
  color: #fff
}

.dark .header-section p {
  color: rgb(238, 238, 238);
}

.btn-outline-primary:hover {
  background-color: #fff;
  color: #dc4f72;
}

/* footer */
.dark #footer {
  background-color: #000;
}

.dark .w3l-footer .w3l-footer-16-main.py-5 {
  background-color: rgb(34, 34, 34);
}

.dark .w3l-footer .w3l-footer-16-main h3 {
  color: #fff;
}

.dark .w3l-footer .footer-gd-16 li a {
  color: rgb(238, 238, 238);
}

.dark .w3l-footer .w3l-footer-16-main p {
  color: rgb(238, 238, 238);
}

.dark .w3l-footer .w3l-footer-16-main p a {
  color: rgb(238, 238, 238);
}

.dark .w3l-footer .w3l-footer-16-main p a:hover {
  color: #dc4f72;
}

.dark .w3l-footer ul.social li a {
  color: #fff;
}

.dark .w3l-footer .end-column {
  background-color: #000;
}

.dark .w3l-footer .w3l-footer-16-main p {
  color: rgb(238, 238, 238);
}

.dark .w3l-footer .w3l-footer-16-main h4 {
  color: #fff;
}

.dark .w3l-footer .footer-gd-16 li a:hover {
  color: #dc4f72;
}

.dark .w3l-footer .subscribe button:hover {
  background-color: #fff;
  color: #dc4f72;
}